.body {
  min-height: 43.5vh;
}

.cards {
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.pagination {
  display: flex;
  justify-content: center;
}
