body {
  min-height: 100vh;
}

.search {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}

.cards {
  margin: auto;
  margin-bottom: 6rem;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
